#div1{
    background-color: aqua;
}

#div2{
    background-color: #FFC0CB;

}

#div3{
    background-color: #F08080;
}

.classe1{
    color: crimson;
    width: 400px;
    font-family: 'Noto Sans SC', sans-serif;
    font-style: oblique;
    margin: 0 auto;
}