.cabecalho {
    background-color: rgb(235, 235, 235);
    display: flex;
    height: 120px;
}

#logo {
    display: flex;
    width: 40%;
    padding-left: 10%;
    margin: auto;
}

#nome {
    color:rgb(197, 48, 48);
    margin: 0;
    font-weight: bold;
}

#ra {
    color: black;
    margin: 0;
    font-weight: bold;
}

nav {
    margin: 0;
}

#menu {
    width: 40%;
    padding-right: 10%;
    margin: auto;
}

li {
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    padding: 30px;
}

h2 {
    margin: auto;
    font-weight: lighter;
}

li:hover {
    background-color: rgb(197, 48, 48);
}

section {
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

figcaption {
    background-color: rgb(235, 235, 235);
    justify-content: center;
    width: 90%;
    padding-top: 0;
    margin: 0;
    height: 50px;
    border-radius: 8px;
}

figcaption>p {
    margin-top: 0;
    padding-top: 10px;
    text-align: center;
    justify-content: space-around;
}

img {
    border-radius: 8px;
}